{% extends 'base.html' %}

{% block title %}
    Gif Search
{% endblock %}

<!-- Extend 'base.html' and put content into a block 'body' to match -->
{% block content %}
<form action='/'>
    <p>
        Hello World!!
    </p>
    
    <!-- HTML form containing a search box and a submit button to add -->
    <p>
        Which gif do you want to search?
        <input type="text" name="search"/>
        <button type="submit">Submit</button>
    </p>
</form>

{% include 'gifs.html' %}

{% endblock %}