{% extends 'base.html' %}

{% block title %}
    Gif Search
{% endblock %}

<!-- Extend 'base.html' and put content into a block 'body' to match -->
{% block content %}
<form action='/'>
    <center>
    <p>
        Hello World!!
    </p>
    
    <!-- HTML form containing a search box and a submit button to add -->
    <p>
        Which gif do you want to search?
        <input type="text" name="search"/>
        <button type="submit">Submit</button>
    </p>
    </center>
<!-- <div class="big-grid"> -->
</div>
    
</form>

{% include 'gifs.html' %}

{% endblock %}

<!-- TODO: Make an HTML form containing a search box and a submit button to add
    the search term to the query string -->

<!-- TODO: Make a for loop to loop over GIFs passed in from the server -->

<!-- TODO: For each gif, include the 'gif.html' template to display it -->